body{
  display: flex;
  align-items: center;
  justify-content: center;
    
}

.container {
  border: 1rem solid #000;
  width: 50vw;
  height: 50vh;
  display: flex;
  animation: movement 3s cubic-bezier(0,0,0.1,0.1) infinite;
}
.figure-a {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  border-color: #ff0000;
  border-style: solid;
  border-width: 2px;
  position: relative;
}
.figure-b {
  width: 100px;
  height: 70px;
  background-color: #00ff00;
  border-color: #00ff00;
  border-style: solid;
  border-width: 2px;
  position: relative;
}
.figure-c {
    width: 100px;
    height: 130px;
    background-color: #0000ff;
    border-color: #0000ff;
    border-style: solid;
    border-width: 2px;
    position: relative;
}

@keyframes movement{
    10% {
        align-items: flex-start;
        justify-content:flex-start;
    }
    20% {
        align-items: flex-start;
        justify-content: center;
    }
    30% {
        align-items: stretch;
        justify-content: center;
    }
    100% {
        align-items: flex-start;
        justify-content: flex-end;
    }
}

align-items: center; /* Pack items around the center */
 /* Pack items from the start */
align-items: end; /* Pack items from the end */
align-items: flex-start; /* Pack flex items from the start */
 /* Pack flex items from the end */